PORT=5001
NODE_ENV=development
CLIENT_URL=https://vigilhealth-waitlist.vercel.app


MONGO_URI=mongodb+srv://danielodulate25_db_user:fso7tt9EbGmCBh6F@cluster0.hbxkfey.mongodb.net/vigil?retryWrites=true&w=majority

EMAIL_USER=danielodulate25@gmail.com
EMAIL_PASS=chcm peoj gvao nlls

EMAIL_FROM=Vigil Health <danielodulate25@gmail.com>

ADMIN_API_KEY=ThisIsaRanDomStRinGofcharactersforAdMinApiKEY